@mixin animate($animation, $duration, $method, $repeat) {
  animation: $animation $duration $method $repeat;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

%flexParent {
  display: flex;
  flex-direction: column;
}

%flexChild {
  flex: 1;
  min-height: 0;
}
