@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    --background-gradient-1: #cad0ff;
    --background-gradient-2: #FFF;
}

html {
    background-color: #fff;
    font-family: 'Dosis', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    height: 100svh;
    width: 100svw;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, var(--background-gradient-1), var(--background-gradient-2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, var(--background-gradient-1), var(--background-gradient-2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

@keyframes gradient {
    0% {
        background-position: 50% 00%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0% ;
    }
}

@keyframes colorChange {
    0% {
        background-position: 50% 0%;
      }
      50% {
        background-position: 50% 100%;
      }
      100% {
        background-position: 50% 0%;
      }
}