@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    --background-gradient-1: #cad0ff;
    --background-gradient-2: #FFF;
    --max-width: 1400px;
    --primary-color: #fff;
    --secondary-color: 188, 227, 140;
    --subtext-color: #cccccc;
}

html {
    background-color: #fff;
    font-family: "Nunito", 'Dosis', sans-serif;
}

a[href="https://neat.firecms.co"] {
    visibility: hidden;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    position: relative;
    color: #f0eefc;
    height: 100%;
    /* background: #c2e59c;  
    background: -webkit-linear-gradient(to bottom, var(--background-gradient-1), var(--background-gradient-2)); 
    background: linear-gradient(to bottom, var(--background-gradient-1), var(--background-gradient-2)); 
    background-size: 200% 200%;
    animation: gradient 15s ease infinite; */
}

* {
    box-sizing: border-box;
}

.h-5 {
    height: 1.4rem;
}

.h-6 {
    height: 1.5rem;
}

.w-6 {
    width: 1.5rem;
}

.p-1 {
    padding: 1rem;
}

@media (width < 768px) {
    body {
        font-size: 20px;
    }
}

@media (width >= 768px) {
    body {
        font-size: 16px;
    }
}

@keyframes gradient {
    0% {
        background-position: 50% 00%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0% ;
    }
}

@keyframes colorChange {
    0% {
        background-position: 50% 0%;
      }
      50% {
        background-position: 50% 100%;
      }
      100% {
        background-position: 50% 0%;
      }
}