---
// Layout
import Experience from "../components/Experience";
import Intro from "../components/Intro";
import NavBar from "../components/NavBar/navbar";
import Socials from "../components/Socials";
import { education } from "../education";
import { experience } from "../experience";
import Layout from "../layouts/project.astro";
import { projects } from "../projects";
import { skills } from "../skills";

// Styles
import "../styles/global.css";
import "../styles/index.css";
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
  rel="stylesheet"
/>

<Layout
  content={{
    lang: "en",
    title: "Thiwanka Dissanayaka",
    tags: ["portfolio", "thiwanka", "dissanayaka", "thiwanka dissanayaka"],
    description: "Thiwanka Dissanayaka",
  }}
>
  <div class="main">
    <div class="left">
      <p class="info">
        In 2009 after modifying Need for Speed Hot Pursuit 2 files to make cars
        go faster I fell in love with coding. First played around Visual Basic
        and today I have experience working with a number of different
        technologies. I have worked with software and Fintech companies building
        Fintech solutions. I also work as a freelancer in my free time building
        solutions from ecommerce to messaging platforms.
      </p>

      <p class="info">
        I currently am working on a Fintech solution that is focused on allowing
        users to manage their budget. I am a huge admirrer of accessible UI
        designs and building software that looks good and accessible is
        something I truly enjoy.
      </p>

      <p class="info">
        If I am not at the computer, you can find me attending my Bonsai trees,
        Hiking a mountain, or playing with my camera.
      </p>
      <Experience
        id="experience"
        title="Experience"
        projects={experience}
        client:idle
      />
      <Experience
        id="projects"
        title="Projects"
        projects={projects}
        client:idle
      />
      <Experience id="education" title="Education" projects={education} />
      <Experience id="skills" title="Skills" projects={skills} />
    </div>
    <div class="right">
      <div class="section tldr">
        <Intro client:load />
        <Socials />
      </div>

      <NavBar client:idle />
    </div>
  </div>
</Layout>
