---
// Layout
import Intro from "../components/Intro";
import Layout from "../layouts/project.astro";

// Styles
import "../styles/global.css";
import "../styles/index.css";

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/**/*.md");
// const featuredProject = projects[0];
---

<Layout content={{ lang: "en", title: "Home", tags: [], description: "AAA" }}>
  <div class="main">
    <Intro client:load />
  </div>
</Layout>
