$colorMain: rgb(170, 49, 226);
$colorAccent: #9d93ff;

.ProfileImageWrapper {
  width: 200px;
  height: 200px;
  display: flex;
  position: relative;
  background: $colorMain;
  background-image: linear-gradient(90deg, $colorMain, $colorAccent);
  border-top-left-radius: 98% 63%;
  border-top-right-radius: 58% 98%;
  border-bottom-right-radius: 26% 54%;
  border-bottom-left-radius: 47% 90%;

  img {
    z-index: 3;
    margin-top: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 8px;
    border-radius: 50%;
    border-bottom-right-radius: 72px;
  }
}
