.NavBar {
  position: relative;
  display: none;

  @media (width > 1024px) {
    display: block;
    margin-top: 5rem;
    text-align: right;
  }
}

.Link {
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  display: none;

  @media (width > 1024px) {
    display: block;
    margin: 1rem 0;
  }
}

.Active {
  color: aqua;
  font-size: 1.5rem;
  display: block;
  font-weight: 700;
}
