---
const { title = "Thiwanka Dissanayaka" } = Astro.props;
---

<meta charset="UTF-8" />
<title>{title}</title>
<link rel="icon" type="image/x-icon" href="assets/boy.png" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
