@import "/src/styles/variables";

$colorMain: rgb(170, 49, 226);
$colorAccent: rgb(159, 148, 255);

.IntroContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .title {
    margin-right: 100px;
    margin-left: 50px;
  }

  .name {
    margin: 0;
    font-size: 3.5rem;
    background: linear-gradient(45deg, $colorMain, $colorAccent);
    background-size: 200% 200%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorGradient 2s linear infinite;
  }

  .subtext {
    margin: 0;
    margin-top: 0.25rem;
    background: linear-gradient(45deg, $colorMain, $colorAccent);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // animation: colorChange 2s linear infinite;
  }

  .Cursor {
    animation: blink 200ms linear infinite;
  }
}

@include keyframes(colorChange) {
  0% {
    background: #000;
  }
  50% {
    background: #fff;
  }
  100% {
    background: #000;
  }
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  49% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
