@import "/src/styles/variables";

$colorMain: rgb(170, 49, 226);
$colorAccent: rgb(57, 50, 117);
$colorSecondary: rgb(232, 6, 228);
$fontGradient: linear-gradient(
  45deg,
  $colorMain 0%,
  $colorAccent 40%,
  $colorSecondary 80%
);

.IntroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex: 1 0 auto;

  @media (width < 768px) {
    flex-direction: column;

    .title {
      order: 2;
    }

    .ProfImage {
      align-self: flex-start;
      margin: 0 50px;
    }
  }

  .title {
    margin: 0 50px;
  }

  .name {
    margin: 0;
    font-size: 3.5rem;
    background: $fontGradient;
    background-size: 200% 200%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorGradient 2s linear infinite;
  }

  .subtext {
    margin: 0;
    margin-top: 0.25rem;
    background: $fontGradient;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .Cursor {
    &:not(.typing) {
      animation: blink 500ms linear infinite;
    }
  }
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  49% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
