:root {
  --gutter: 20px;
}

.ExperienceWrapper {
  padding: 1rem;
}

.Experience {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  position: relative;

  &:not(.Disabled) {
    cursor: pointer;
  }

  &:hover {
    color: #fff;

    .Employer {
      color: #fbc9ff;
    }

    .Highlight {
      opacity: 1;
    }
  }

  @media (width > 1024px) {
    gap: 10px;
  }
}

.Period {
  flex: 0 0 12%;
  font-size: 1rem;
  color: var(--subtext-color);
}

.Details {
  flex: 1;
}

.Employer {
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.Position {
  margin: 0;
  font-size: 0.9rem;
  color: var(--subtext-color);
}

.TagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ProjectImage {
  margin-top: 1rem;
  width: 300px;
  max-height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.Highlight {
  $padding: 1rem;
  background: rgba(112, 61, 206, 0.19);
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  top: -$padding;
  left: -$padding;
  padding: $padding;
  box-sizing: content-box;
  opacity: 0;
  border-radius: 0.375rem;
  transition: opacity 0.2s ease-in-out;
}
