:root {
  --gutter: 20px;
}

.ExperienceWrapper {
  padding: 1rem;
}

.Experience {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  &:not(.Disabled) {
    cursor: pointer;
  }

  &:hover {
    background: rgba($color: rgb(209, 192, 240), $alpha: 0.2);
  }

  @media (width > 1024px) {
    gap: 10px;
  }
}

.Period {
  flex: 0 0 12%;
  font-size: 1rem;
  color: var(--subtext-color);
}

.Details {
  flex: 1;
}

.Employer {
  margin: 0;
}

.Position {
  margin: 0;
  font-size: 0.9rem;
  color: var(--subtext-color);
}

.TagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ProjectImage {
  margin-top: 1rem;
  width: 300px;
  max-height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
