---
import MainHead from "../components/MainHead.astro";
import NavBar from "../components/NavBar/navbar";
import NeatGradientBackground from "../components/NeatGradientBackground";

import "./project.css";

const { content } = Astro.props;
---

<html lang={content.lang || "en"}>
  <head>
    <MainHead title={content.title} />
  </head>
  <body>
    <div class="wrapper wrapper__readable">
      <!-- <NavBar client:only="preact" /> -->
      <!-- <BackgroundCanvas client:only /> -->
      <NeatGradientBackground client:only="preact" />
      <div class="content">
        <slot />
      </div>
      <!-- <Footer /> -->
    </div>
  </body>
</html>